@using BustadirForm.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = @Resources.ChangePassword;
}
@*<h2>@ViewBag.Title</h2>*@
@*<p class="text-success">@ViewBag.StatusMessage</p>*@

<div class="row">
    <div class="col-md-offset-3 col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>@ViewBag.Title</strong></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">

                        @*<div class="row">
                            <div class="col-md-12">*@
                                @if (ViewBag.HasLocalPassword)
                                {
                                    @Html.Partial("_ChangePasswordPartial")
                                }
                                else
                                {
                                    @Html.Partial("_SetPasswordPartial")
                                }
                                @*<section id="externalLogins">
                                    @Html.Action("RemoveAccountList")
                                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { Action = "LinkLogin", ReturnUrl = ViewBag.ReturnUrl })
                                </section>*@
                            @*</div>
                        </div>*@

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@Html.Partial("_AccountFooter")